.popupBar {
    background: rgb(3, 3, 3);
    width: 200px;
    height: 200px;
    overflow-y: scroll;
    color: white;
    position: relative;
    bottom: 250px;
    right: 200px;
    z-index: 2;
    box-shadow: 0 0 4px 0.3px rgba(255, 255, 255, 0.8);
}

.popupBar {
    background: rgb(3, 3, 3);
    width: 200px;
    height: 200px;
    overflow-y: scroll;
    color: white;
    position: relative;
    bottom: 600px;
    right: 200px;
    box-shadow: 0 0 4px 0.3px rgba(255, 255, 255, 0.8);
}

.countryList {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.country {
    padding: 12px;
    top: 45px;
    position: relative;
    font-weight: 650;
}

.country:hover {
    background: rgb(229, 192, 60);
    color: black;
}

.popupHr {
    width: 180px;
    height: 4px;
    background: yellow;
    top: 40px;
    position: relative;
}

.popupInput {
    border-style: none;
    background: rgb(3, 3, 3);
    width: 180px;
    height: 40px;
    left: 8px;
    position: relative;
    color: white;
    font-size: 20px;
}