.App {

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(5, 63, 93);
}

.container {
  width: 1204px;
  height: 300px;
  background: rgb(37, 67, 109);
  display: flex;
  color: white;
  border-radius: 15px;
}

.altBar{
  position: relative;
  right: 1204px;
}

.lefthr {
  width: 500px;
  position: relative;
  left: 68px;
  top: 200px;
}

.righthr {
  width: 500px;
  position: relative;
  left: 636px;
  top: 146px;
}

.term {
  position: relative;
  top: 200px;
  left: 68px;
}

.description {
  position: relative;
  top: 147px;
  left: 636px;
}

.languageLeft {
  position: relative;
  top: 110px;
  left: 520px;
  cursor: pointer;
  color: rgb(102, 197, 208);
  font-weight: 450;
  width: 52px;
}

.languageRight {
  position: relative;
  top: 76px;
  left: 1088px;
  cursor: pointer;
  color: rgb(102, 197, 208);
  font-weight: 450;
  width: 52px;
}

.languageLeft:hover {
  color: rgb(229, 192, 60);
}

.languageRight:hover {
  color: rgb(229, 192, 60);
}
.usthr{
  display: flex;
  position: relative;
  width: 1203px;
  height: 4px;
  background: rgb(5, 63, 93);
  border-style: none;
}