.App {

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(5, 63, 93);
  flex-direction: column;
}

.container {
  width: 1204px;
  height: 300px;
  background: rgb(37, 67, 109);
  display: flex;
  color: white;
  border-radius: 15px;
  position: relative;
  margin-top: 60px;
}

.altBar {
  position: relative;
  right: 1204px;
}

.lefthr {
  width: 500px;
  position: relative;
  left: 68px;
  top: 200px;
}

.righthr {
  width: 500px;
  position: relative;
  left: 636px;
  top: 146px;
}

.term {
  position: relative;
  top: 200px;
  left: 68px;
}

.description {
  position: relative;
  top: 147px;
  left: 636px;
}

.languageLeft {
  position: relative;
  top: 110px;
  left: 520px;
  cursor: pointer;
  color: rgb(102, 197, 208);
  font-weight: 450;
  width: 52px;
}

.languageRight {
  position: relative;
  top: 76px;
  left: 1088px;
  cursor: pointer;
  color: rgb(102, 197, 208);
  font-weight: 450;
  width: 52px;
}

.languageLeft:hover {
  color: rgb(229, 192, 60);
}

.languageRight:hover {
  color: rgb(229, 192, 60);
}

.usthr {
  display: flex;
  position: relative;
  width: 1203px;
  height: 4px;
  background: rgb(5, 63, 93);
  border-style: none;
}

.leftInput {
  width: 500px;
  border-style: none;
  text-decoration: none;
  background: rgb(37, 67, 109);
  color: white;
  position: relative;
  top: 200px;
  left: 68px;
}

.rightInput {
  width: 500px;
  border-style: none;
  text-decoration: none;
  background: rgb(37, 67, 109);
  color: white;
  position: relative;
  bottom: 2px;
  left: 638px;
}

.addButton {
  margin-top: 60px;
  width: 1204px;
  height: 150px;
  background: rgb(37, 67, 109);
  position: relative;
  border-radius: 15px;
  z-index: 2;
  cursor: pointer;
}

.add {
  background: none;
  border-style: none;
  font-weight: 600;
  font-size: 20px;
  color: white;
  width: 200px;
  z-index: 2;
  position: relative;
  left: 500px;
}

.add:hover {
  color: rgb(229, 192, 60);
}

.containerNumber {
  margin-left: 20px;
}
.addPart{
  position: relative;
  bottom: 35px;
}
.buttonHr {
  width: 100px;
  height: 10px;
  background: rgb(102, 197, 208);
  border-style: none;
}

.buttonCount {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 600;
}

.addPart:hover {
  color: rgb(229, 192, 60);
  cursor: pointer;
}

.buttonHr:hover {
  background: rgb(229, 192, 60);
}